<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Mascotas - Productos</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Menú de navegación -->
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Temática</a></li>
                <li><a href="tienda.html">Tienda</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección de Tienda -->
    <section>
        <h1>Productos para Mascotas</h1>

        <!-- Productos para Perros -->
        <div class="productos">
            <h2>Productos para Perros</h2>
            <div class="producto">
                <img src="../images/alimento_perro.jpg" alt="Alimento para perros" height="300" width="350">
                <h3>Alimento para Perros</h3>
                <p>Desde $10.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/comida_perros.jpg" alt="Alimento para perros" height="300" width="350">
                <h3>Alimento seco para Perros</h3>
                <p>Desde $10.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_perro.png" alt="Cama para perros" height="300" width="350">
                <h3>Juguetes para Perros</h3>
                <p>Desde $3.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_perros.jpg" alt="Cama para perros" height="270" width="300">
                <h3>10 Piezas de juguetes paa cachorros</h3>
                <p>Desde $3.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/cama_perro.png" alt="Cama para perros" height="300" width="350">
                <h3>Cama para Perros</h3>
                <p>Desde $25.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/accesorio_perro.jpg" alt="Cama para perros" height="300" width="350">
                <h3>Accesorio inflable para Perros</h3>
                <p>Desde $25.00</p>
                <button>Añadir al carrito</button>
            </div>
        </div>

        <!-- Productos para Gatos -->
        <div class="productos">
            <h2>Productos para Gatos</h2>
            <div class="producto">
                <img src="../images/rascador_gato.jpg" alt="Rascador para gatos" height="300" width="350">
                <h3>Rascador para Gatos</h3>
                <p>Desde $15.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/accesorio_gato.jpg" alt="Rascador para gatos" height="300" width="350">
                <h3>Fastpet Collar para Gato</h3>
                <p>Desde $5.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/comida_gato.jpg" alt="Juguete para gatos" height="300" width="350">
                <h3>Comida para Gatos</h3>
                <p>Desde $4.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/comida_gatos.jpg" alt="Juguete para gatos" height="300" width="350">
                <h3>Gati Gatitos, Hasta 12 Meses</h3>
                <p>Desde $4.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_gatos.jpg" alt="Juguete para gatos" height="300" width="350">
                <h3>Juguete para Gatos</h3>
                <p>Desde $5.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/jugueteraton_gato.jpg" alt="Juguete para gatos" height="300" width="350">
                <h3>Juguete de Gato Raton</h3>
                <p>Desde $5.00</p>
                <button>Añadir al carrito</button>
            </div>
        </div>

        <!-- Productos para Reptiles -->
        <div class="productos">
            <h2>Productos para Reptiles</h2>
            <div class="producto">
                <img src="../images/alimento_reptil.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>Alimento para Reptiles</h3>
                <p>Desde $10.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/comida_tortugas.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>Alimentos para Tortugas</h3>
                <p>Desde $30.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/lampara_reptil.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>Lámpara UVB</h3>
                <p>Desde $30.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/cama_reptiles.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>Cama de dragón barbudo y hamaca para reptiles</h3>
                <p>Desde $30.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_reptil.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>Paquete de 7 bolas de juguete de dragón barbudo.</h3>
                <p>Desde $15.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguetes_reptiles.jpg" alt="Lámpara UVB para reptiles" height="300" width="350">
                <h3>LUTER Juguetes de Enriquecimiento.</h3>
                <p>Desde $15.00</p>
                <button>Añadir al carrito</button>
            </div>
        </div>

        <!-- Productos para Peces -->
        <div class="productos">
            <h2>Productos para Peces</h2>
            <div class="producto">
                <img src="../images/alimento_pez.jpg" alt="Filtro para acuario" height="300" width="350">
                <h3>Alimento para Peces</h3>
                <p>Desde $4.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/comida_pez.jpg" alt="Filtro para acuario" height="300" width="350">
                <h3>Alimento para peces Betta</h3>
                <p>Desde $7.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/filtro_acuario.jpg" alt="Filtro para acuario" height="300" width="350">
                <h3>Filtro para Acuario</h3>
                <p>Desde $20.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/accesorio_pez.jpg" alt="Filtro para acuario" height="270" width="350">
                <h3>Accesorios para peceras, cuevas de Pleco para acuario</h3>
                <p>Desde $20.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_pez.jpg" alt="Filtro para acuario" height="300" width="350">
                <h3>SEASKY Juguetes de Acuario</h3>
                <p>Desde $20.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguete_peces.jpg" alt="Filtro para acuario" height="300" width="350">
                <h3>Juguetes para Peces</h3>
                <p>Desde $20.00</p>
                <button>Añadir al carrito</button>
            </div>
        </div>

        <!-- Productos para Aves -->
        <div class="productos">
            <h2>Productos para Aves</h2>
            <div class="producto">
                <img src="../images/alimento_aves.jpg" alt="Jaula para aves" height="300" width="350">
                <h3>Alimento para Aves</h3>
                <p>Desde $1.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/jaula_aves.jpg" alt="Jaula para aves" height="300" width="350">
                <h3>Jaula para Aves</h3>
                <p>Desde $10.00</p>
                <button>Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="../images/juguetes_aves.jpg" alt="Jaula para aves" height="300" width="350">
                <h3>Juguetes para aves</h3>
                <p>Desde $3.00</p>
                <button>Añadir al carrito</button>
            </div>
        </div>
    </section>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Tienda de Mascotas</p>
    </footer>
</body>
</html>